<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <script>
      if (location.hostname === 'soumenbj.pythonanywhere.com' && location.protocol !== 'https:') {
        location.href = location.href.replace('http:','https:')
      }
    </script>

  </head>
  <body>
    <div class="middle">
      <div>
      <a class="btn" href="https://www.facebook.com/">
        <i class="fab fa-facebook-f"></i>
      </a>
      </div>
      <div><p>         <br>         </p></div>
      <div>
      <a class="btn" href="https://twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      </div>
      <div><p>         <br>         </p></div>
      <div>
      <a class="btn" href="https://www.google.com/">
        <i class="fab fa-google"></i>
      </a>
      </div>
      <div><p>          <br>        </p></div>
      <div>
      <a class="btn" href="https://www.instagram.com/">
        <i class="fab fa-instagram"></i>
      </a>
      </div>
      <div><p>          <br>        </p></div>
      <div>
      <a class="btn" href="https://www.youtube.com/">
        <i class="fab fa-youtube"></i>
      </a>
      </div>
      <div><p>         <br>         </p></div>
      <div>
      <a class="btn" href="https://www.amazon.in/">
        <i class="fab fa-amazon"></i>
      </a>
      </div>
      <div><p>         <br>         </p></div>
      <div>
      <a class="btn" href="https://www.flipkart.com/">
        <i class="fas fa-shopping-cart"></i>
      </a>
      </div>
    </div>
  </body>
</html>
